@import url('./ugc-form-tokens.css');
@import url('/blocks/form/form.css');
@import url('/blocks/form/form-tokens.css');

/* =====================================
   FORM CONTAINER
===================================== */

.form form {
  max-width: var(--ugc-form-width);
  margin: 0 auto;
}

/* =====================================
   HEADINGS
===================================== */

/* .ugc-main-heading h2 {
  color: var(--brand-primary);
  font-size: var(--heading-font-size-xxl);
  line-height: var(--heading-line-height);
  font-weight: var(--heading-font-weight);
  margin: 0 0 24px;
} */

.ugc-section-heading h2,
.ugc-section-heading h3,
.ugc-section-heading p {
  color: var(--brand-primary);
  font-size: var(--heading-font-size-s);
  font-weight: var(--ugc-heading-weight);
  margin: 0px 0 -10px;
}

/* =====================================
   TEXT CONTENT
===================================== */

.ugc-intro p {
  font-size: var(--body-font-size-xs);
  line-height: var(--body-line-height);
  margin-bottom: 16px;
  color: var(--text-color);
}


.ugc-note p {
  font-size: var(--body-font-size-s);
  font-style: italic;
  margin-bottom: 24px;
  color: var(--text-color);
}

.ugc-instructions p {
  font-size: var(--body-font-size-xs);
  line-height: var(--body-line-height);
  margin-bottom: 12px;
  color: var(--text-color);
}

/* =====================================
   LABELS
===================================== */

.form .field-wrapper label {
  display: block;
  font-size: var(--body-font-size-ms);
  font-weight: 600;
  color: var(--brand-primary);
  margin-bottom: 8px;
}

.form .field-wrapper label[data-required="true"]::after {
  content: "* ";
  color: var(--brand-primary);
  margin-inline-start: 0ch;
}

.form .field-wrapper label {
  display: flex;
  align-items: center;
  /* gap: 12px; */
  flex-wrap: wrap;
}

.ugc-label-text {
  color: var(--brand-primary);
  font-weight: var(--font-weight-bold);
}

.ugc-label-helper {
  color: var(--text-color);
  font-size: var(--body-font-size-s);
  font-weight: 400;
}

.form label.ugc-label-enhanced {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Hide original star */
.form label[data-label-enhanced="true"][data-required]::after {
  content: none;
}

/* Add star after label text */
.form label[data-label-enhanced="true"]
.ugc-label-text::after {
  content: '* ';
  color: var(--brand-primary);
  margin-left: 0;
}

/* =====================================
   INPUT FIELDS
===================================== */

@media (width >= 600px) {
  .form .text-wrapper input,
  .form .email-wrapper input,
  .form .text-area-wrapper textarea,
  .form .select-wrapper select {
    max-width: 100%;
  }
}

.form .text-wrapper input,
.form .email-wrapper input,
.form .tel-wrapper input,
.form .number-wrapper input,
.form .date-wrapper input,
.form .password-wrapper input,
.form .select-wrapper select {
  width: 100%;
  height: 44px;
  padding: 0 14px;
  border: var(--section-divider-width)
    solid var(--text-color);
  border-radius: var(--button-icon-height);
  background: var(--form-input-background);
  color: var(--form-input-text-color);
  box-sizing: border-box;
  font-size: var(--body-font-size-s);
}

/* textarea */

.form .text-area-wrapper textarea {
  width: 100%;
  min-height: 140px;
  padding: 12px;
  border: var(--section-divider-width)
    solid var(--text-color);
  border-radius: var(--button-icon-height);
  background: var(--form-input-background);
  color: var(--form-input-text-color);
  box-sizing: border-box;
  resize: vertical;
  font-size: var(--body-font-size-s);
}

/* focus */

.form .text-wrapper input:focus,
.form .email-wrapper input:focus,
.form .text-area-wrapper textarea:focus,
.form .select-wrapper select:focus {
  outline: none;
  border-color: var(--brand-primary);
  box-shadow: 0 0 0 2px rgb(4 97 131 / 15%);
}

/* hover*/
.form .ugc-input input:hover,
.form .ugc-input select:hover,
.form .ugc-textarea textarea:hover {
  /* border-color: var(--text-color); */

  border: 1px solid var(--dark-color);
}
/* 
.form .ugc-input input:hover,
.form .ugc-input select:hover,
.form .ugc-textarea textarea:hover {
  border: 1px solid var(--dark-color);
} */

/* spacing */

.form .text-wrapper,
.form .email-wrapper,
.form .text-area-wrapper,
.form .select-wrapper {
  margin-bottom: 24px;
}

/* =====================================
   INLINE HELP TEXT
===================================== */

.ugc-inline-help p {
  font-size: var(--body-font-size-xs);
  color: var(--text-color-light);
  margin-top: -10px;
  margin-bottom: 12px;
}

/* =====================================
   CHECKBOXES
===================================== */

.form .checkbox-wrapper {
  margin-bottom: 20px;
   display: flex;
  align-items: flex-start; /* Aligns items to the top line */
  gap: 8px;     
}

.form .ugc-checkbox.checkbox-wrapper.selection-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.form .ugc-checkbox.checkbox-wrapper.selection-wrapper input[type='checkbox'] {
  /* transform: scale(1.5); */
  width: var(--section-padding);
  height: var(--section-padding);
  transform-origin: top left;
  margin-top: 4px;
  margin-right: 12px;
  flex-shrink: 0;
  accent-color: var(--brand-primary);
}

.form .checkbox-wrapper input[type='checkbox'] {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.form .checkbox-wrapper label {
  display: inline;
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  line-height: var(--body-line-height);
  color: var(--text-color);
}

/* =====================================
   SUBMIT BUTTON
===================================== */

.form .submit-wrapper {
  margin-top: 30px;
}

.form .submit-wrapper button {
  background: var(--brand-primary);
  /* color: var(--button-primary-color); */
  border: var(--button-border-width)
    solid var(--brand-primary);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  cursor: pointer;
}

/* .form .submit-wrapper button:hover {
  background: var(--button-primary-hover-background);
  color: var(--button-primary-hover-color);
  border-color: var(--button-primary-hover-border-color);
} */

/* =====================================
   MULTIPLE MEDIA UPLOAD
===================================== */

.ugc-upload-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ugc-upload-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.ugc-preview-container {
    height: 80px;
    width: 80px;
  border: 3px solid rgb(238, 238, 238);
  background: var(--background-color);
  position: relative;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ugc-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ugc-preview-placeholder {
  width: 20px;
  height: 20px;
  /* border: 2px solid var(--light-color); */
  border-radius: 50%;
  position: relative;
}

.ugc-preview-placeholder img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

main img,
.form img {
  max-width: none;
}

.ugc-preview-placeholder::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 2px;
  /* background: var(--light-color); */
  top: 8px;
  left: -3px;
  transform: rotate(-45deg);
}

.ugc-upload-content {
  flex: 1;
}

.ugc-upload-label {
  font-size: var(--body-font-size-xs);
  margin-bottom: 4px;
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
}

.ugc-file-input {
  font-size: var(--body-font-size-xs);
}

.ugc-remove-upload {
  border: none;
  background: transparent;
  color: var(--text-color);
  cursor: pointer;
  font-size: 22px;
  line-height: 1;
  padding: 0;
}

/* .ugc-remove-upload:hover {
  opacity: .7;
} */

.ugc-remove-upload {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ugc-remove-upload-icon {
  width: 16px;
  height: 16px;
  max-width: none;
  display: block;
}

.ugc-remove-upload:hover {
  opacity: .7;
    background: none;

}

/* =====================================
   ADD MEDIA BUTTON
===================================== */

.ugc-add-more-media {
  display: inline-block;
  align-self: flex-start;
  margin-top: 8px;
  margin-bottom: 24px;
  max-width: 150px;
  padding: 4px 8px;
  background: #eee;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  border-radius: unset;
  font-size: var(--body-font-size-s);
  font-weight: 400;
  cursor: pointer;
}

.ugc-add-more-media:hover {
  background: #79747438;
  border-color: var(--text-color);
  color: var(--text-color);
}

.ugc-add-more-media:focus {
  background: #79747438;
  border-color: var(--text-color);
  color: var(--text-color);
}

.ugc-add-more-media:disabled {
  opacity: .5;
  cursor: not-allowed;
}

/* =====================================
   VALIDATIONS
===================================== */

.form input.field-error,
.form textarea.field-error {
  border-color: var(--error-color);
}

.form input.field-error:focus,
.form textarea.field-error:focus {
  border-color: var(--error-color);
  box-shadow: 0 0 0 2px rgb(192 44 87 / 15%);
}

.ugc-error {
  margin-top: 4px;
  color: var(--error-color);
  font-size: var(--body-font-size-xs);
  line-height: 1.4;
}

.form input.field-valid,
.form textarea.field-valid {
  border-color: var(--form-input-border-color);
}

.ugc-char-count {
  margin-top: 4px;
  font-size: var(--body-font-size-xs);
  color: var(--text-color-light);
}

.ugc-char-count.error {
  color: var(--error-color);
}


.ugc-terms p {    padding-left: 45px;}